%h2 Your Pending Applications
- if (@claimed_leases.empty?)
  %h4 You have no pending applications at this time
- else
  %table.table.table-striped
    %thead
      %tr
        %th
          Store
        %th
          Products
    %tbody
      - @claimed_leases.each do |lease|
        %tr
          %td
            = lease.try(:store)
          %td
            = lease.try(:products_list)
          %td
            = link_to "View", customer_lease_path(lease), :class => 'btn btn-primary'            
          %td
            = link_to("Submit Application", apply_customer_lease_path(lease), :class => 'btn btn-primary' )
