| Object Details
| ===============================================
| Object: #{@object_details}

| Error Details
| ===============================================
| Error Message: #{@message}
| Error Trace: #{@trace}
