User Details
' ===============================================
Name: #{@name}
Username: #{@username}
Email: #{@email}
Phone: #{@phone_number}

Error Details
' ===============================================
Error Message: #{@message}
Error Trace: #{@trace}
