.row
  .four.columns
    %h6 Corporate Information
    %ul.first
      %li
        = link_to 'Home', home_path
      %li
        = link_to 'Investor Relations', "http://www.creddafinancial.com"
  .four.columns
    %h6 Security & Legal
    %ul
      %li
        = link_to 'About Our Security', "http://www.creddafinancial.com"
      %li
        = link_to 'Terms & Conditions', "http://www.creddafinancial.com"
  .four.columns
    %ul.last
    %h6 &copy; Credda Financial 2011-2012
