#footer-container.container
  .row
    .span4
      .footer-link-container
        %ul.first
          %li
            = link_to 'Home', home_path
          %li
            = link_to 'Investor Relations', "http://www.creddafinancial.com"
    .span4
      .footer-link-container
    .span4
      .footer-link-container
        %ul.last
          %li
            Copyright Credda Financial 2011-2012
