ul.side-nav
  = nav_link image_tag("icons/sidebar-home.png") + "<span>Home</span>".html_safe, customer_home_path
  = nav_link image_tag("icons/sidebar-linked-banks.png") + "<span>Payment Methods</span>".html_safe, new_customer_payment_profile_path
  = nav_link image_tag("icons/sidebar-make-payment.png") + "<span>Make Payment</span>".html_safe, new_customer_payment_path
