= provide(:title, 'Employees')

.row
  .twelve.columns
    %h1 Employee Login
.row
  .four.columns
    .panel
      %h2 Employees
      %p Login, registration, and account management for all of our wonderful employees
      .row
        .six.columns
          = link_to("Sign in", new_employee_session_path, :class => 'radius button' )
        .six.columns
          = link_to("Sign up", new_employee_registration_path, :class => 'radius button' )
