= provide(:title, 'For Business')
= provide(:page_id, "for_business")

.row.featured
  .six.columns
    %h1.display Credda Can Help
    %p
      With Credda, your customers can enjoy a flexible payment option.
  .six.columns
    #credit-application-image
      = image_tag "credit-application.png", :onmouseover => "credit-application.png", :alt => "Instant credit decisions at Credda."
.row
  .twelve.column
    %h4 Contact Credda Today