= provide(:title, 'Home')
= provide(:page_id, "home")

div.row
  div.large-6.columns
    h1.display Flexible Financing Today
    ul
      li.display Shop in any participating store
      li.display Get a lease-to-purchase approval in minutes
      li.display Enjoy your purchase!
    div.row
      div.large-6.columns = link_to "Learn More", learn_more_path, :class => 'radius button first'
      div.large-6.columns = link_to "Sign Up", new_customer_registration_path, :class => 'radius button last'
  div.large-6.columns
  	ul[data-orbit]
  	  li 
  	    = image_tag "classic_car.jpg", :alt => "classic car - photo by mikebaird (Flickr)"
        div.orbit-caption Credda can help with tires and auto part financing.
  	  li
  	    = image_tag "paperwork.jpg", :alt => "classic car - photo by nerdcoregirl (Flickr)"
        div.orbit-caption A simple application, and decision in under 5 minutes.
  	  li
  	    = image_tag "father_son.jpg", :alt => " couple in silhouette by (Urban Hippie Love)"
        div.orbit-caption With email alerts and auto-bill pay, you have more time to spend on more important things.
div.row.overview-row
  div.large-3.columns
  	div.overview-box
  	  div.overview-header
        span.overview-number 1
        span.overview-title Instant Approval
  	  div.overview-body
  	  	p Over 60% of applications are approved in under 3 minutes
  div.large-3.columns
    div.overview-box
      div.overview-header
        span.overview-number 2
        span.overview-title Choose Your Payment
      div.overview-body
        p Pay weekly, bi-weekly, semi-monthly, or monthly.  It's all up to you.
  div.large-3.columns
    div.overview-box
      div.overview-header
        span.overview-number 3
        span.overview-title Save Money
      div.overview-body
        p Pay off your product early for just 55% of the remaining payments.
  div.large-3.columns
    div.overview-box
      div.overview-header
        span.overview-number 4
        span.overview-title No Hidden Fees
      div.overview-body
        p The <i>only</i> fee we charge is for late payments and always less than $10.