= provide(:title, 'Privacy')
= provide(:page_id, "privacy")

.row
  .twelve.columns
    %h1 Credda’s Privacy Policy
    %p Posted March 1st, 2013
    %p Credda values your privacy and is committed to ensuring your personal information is kept secure and is only used to help Credda conduct its business.  This notice describes our privacy policy.
    %h2 Information We Collect
    %h4 Website usage information we collect
    %ul
      %li We may collect IP addresses, access times, browser types and browser languages. 
      %li We use both session and permanent cookies, which are small data files stored in your computer or device memory.
      %li Credda collects this website usage information in order to improve our website’s ease of use recognize you each time you visit our website collect statistics on your use of our website.
    %h4 Personal information we collect
    %ul
      %li We collect your personal identifying information associated with obtaining credit bureau reports such as your name, address, social security number, phone number and date of birth. 
      %li We also collect your personal information from others, such as credit bureaus, affiliates, or other companies
      %li We collect your contact information such as phone numbers, email addresses and residence addresses.
      %li We collect your employment related information.
      %li We collect your bank account information.  We consider your bank account information as eligible for us to process payments against. In addition, as part of our information collection process, we may detect additional bank accounts under your ownership.  We will consider these additional accounts to be part of the application process.
      %li We collect and store all transaction history on our customers.
    %h4 Credda collects this personal information in order to:
    %ul 
      %li provide users with a meaningful service,verify the identity of users of our services
      %li process your lease application
      %li service your lease agreement
      %li communicate with you regarding products or services you have with Credda
      %li alert you of new products or services, special offers and updated policies
      %li update our policies and procedures