= provide(:title, 'Privacy')
= provide(:page_id, "privacy")

.row
  .eight.columns
    %h1 Credda’s Privacy Policy
  .four.columns
    = link_to "View As PDF", privacy_path(:format => :pdf), :class => 'radius button'
.row
  .twelve.columns
    %p Posted March 1st, 2013
    %p Credda values your privacy and is committed to ensuring your personal information is kept secure and is only used to help Credda conduct its business.  This notice describes our privacy policy.
.row
  .twelve.columns
    %h2 Information We Collect
    %ul.accordion
      %li
        .title
          %h4 Website usage information we collect
        .content
          %ul
            %li We may collect IP addresses, access times, browser types and browser languages. 
            %li We use both session and permanent cookies, which are small data files stored in your computer or device memory.
      %li
        .title
          %h4 Credda collects this website usage information in order to 
        .content
          %ul
            %li improve our website’s ease of use 
            %li recognize you each time you visit our website 
            %li collect statistics on your use of our website
      %li
        .title
          %h4 Personal information we collect
        .content
          %ul
            %li We collect your personal identifying information associated with obtaining credit bureau reports such as your name, address, social security number, phone number and date of birth. 
            %li We also collect your personal information from others, such as credit bureaus, affiliates, or other companies
            %li We collect your contact information such as phone numbers, email addresses and residence addresses.
            %li We collect your employment related information.
            %li We collect your bank account information.  We consider your bank account information as eligible for us to process payments against. In addition, as part of our information collection process, we may detect additional bank accounts under your ownership.  We will consider these additional accounts to be part of the application process.
            %li We collect and store all transaction history on our customers.
      %li
        .title
          %h4 Credda collects this personal information in order to:
        .content
          %ul 
            %li provide users with a meaningful service,verify the identity of users of our services
            %li process your lease application
            %li service your lease agreement
            %li communicate with you regarding products or services you have with Credda
            %li alert you of new products or services, special offers and updated policies
            %li update our policies and procedures
    %h2 Information We Share
    %p While Credda does not share, sell or rent your information to other entities for their marketing purposes, there are times when we will share your information. 
    %ul.accordion
      %li
        .title
          %h4 Third Party Data Sharing
        .content
          %ul
            %li We provide information required by credit reporting agencies and abide by the Fair Credit Reporting Act in doing so.
            %li We occasionally hire third parties to perform a service on behalf of Credda such as marketing, sending postal mail, analysis of website usage, etc...  
            %li We only provide information needed to deliver the service and the third parties are prohibited from using the information for any other purpose.
      %li
        .title
          %h4 Law Enforcement
        .content
          %ul
            %li We share information with law enforcement, government officials or other third parties in the event of a subpoena, court order or similar legal procedure, or when Credda believes in good faith that the sharing of information is necessary to prevent physical or financial harm, to report suspected illegal activity or to investigate violations of our user agreements.
    %h2 Information We Retain
    %p At any time, a customer may cancel his/her Credda account if all lease agreements are closed and in good standing.  Upon doing so, all sensitive payment information will be permanently removed from Credda’s system. However, we will retain the following information indefinitely:
    %ul 
      %li Account information such as username and email
      %li Customer name, phone number, address, date of birth and social security number
      %li Non-sensitive records of all past Credda transactions (contracts, payments, etc.)
      %li Web traffic data, and data regarding customer behavior patterns within the Credda application
    %h2 Security Measures We Take
    %p Credda takes many measures to safeguard our customer's information from loss, theft, misuse, alteration and unauthorized access. 
    %ul
      %li All sensitive customer information (password, SSN, etc.) is encrypted and stored in our secure database.
      %li Sensitive payment information, such as credit card or bank details, are encrypted and transmitted to separate, PCI-compliant secure databases.  Credda keeps only a token identifier of this transaction, along with the date and amount of the financial transaction.
      %li Only authorized employees can access the data and they must submit multiple forms of identity verification before being given access to your personal information.  
    %p However, no method of transmission or electronic information is 100 percent secure. While we strive to use best possible commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
    %h2 Links to Other Sites
    %p Credda is not liable for the privacy practices or the content of other websites linked to Credda’s website. 
    %h2 Children
    %p We do not knowingly collect personal information from children under 13 years old.  If we learn that we have collected the personal information of a child under 13 we will take steps to delete the information as soon as possible.
    %h2 Opt-Out Instructions
    %p You can set your computer to reject (i.e. "opt out" of) cookies, and you will still be able to access our site. However, some of the customized and dynamic features may not function properly or as efficiently.
    %p You can opt out of electronic or postal marketing by logging into your account and updating your personal information.
    %h2 Changes to Credda’s Privacy Policy
    %p We may update this policy from time to time and you can find the date of the latest version at the top of this website.  In the event that we update the policy, we will notify all our customers by the email address we have on file.