= provide(:title, 'Security')
= provide(:page_id, "security")

.row
  %h2 Securing your data
  .six.columns
    %h3 PCI Compliance
    %h3 Redundant Servers
    %h3 Encryption
  .six.columns
    %h3 Report a Security Problems
