.row
  .twelve.columns
    .fixed
      %nav.top-bar
        %ul
          %li.logo
            = link_to image_tag("logo-color.png"), home_path, :id => 'logo', :class => 'brand'
          %li.toggle-topbar
            = link_to("", "#")
        %section
          %ul.right
            = nav_link "Edit My Account", edit_employee_registration_path
            %li.has-button
              = link_to("Logout", destroy_employee_session_path, :method => :delete, :class => 'radius button' )