@import "compass/css3/images";

ul.side-nav {
  @include background(image-url("alum-dark-background.png"));
  li { 
//    height: 80px;
    border: 1px black solid;
    padding: 5px;
    a {
      height: 60px;
      span {
        padding: auto;
        display: block;
      }
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
    img {
      float: left;
      margin-right: 10px;
      height: 50px;
    }
  }
}

@media (max-width: 768px) { 
  .side-nav-container {
//    margin: 0px !important;
//    padding: 0px !important;
    background: red;
  }
  ul.side-nav {
    background: none;
  //  @include background(image-url("alum-dark-background.png"));
  }
}
