@import "compass/css3/images";
@import "compass/css3/opacity";

// Top Bar Navigation

ul.side-nav {
  @include background(image-url("alum-light-background.png"));
  li { 
    padding: 5px;
    a {
      height: 60px;
      span {
        padding: auto;
        display: block;
      }
      font-size: 18px;
      font-weight: bold;
      color: #520F48;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    img {
      float: left;
      margin-right: 10px;
      height: 50px;
      align: center;
    }
  }
  
  li.active {
  @include background(image-url("alum-dark-background.png"));
  }
  
  li:hover {
    background: blue;
  }
}

@media (max-width: 768px) { 
  .side-nav-container {
    @include background(image-url("alum-dark-background.png"));
  }
  ul.side-nav {
    background: none;
    li {
      float: left;
      width: 100px;
      height: 120px;
    }
  }
}
