@import "compass/css3/images";

/* Body Sizing & Layout */
html, body {
//  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

#main-wrapper {
}

.content {
  padding: 10px 5px;
}

body {
  background: image-url("cream-background.png");
}

body.anon {
//  background: image-url("cork-background.png");
}

body.admin {
//  background-color: red;
}

body.customer {
//  background: image-url("grey-texture-background-small.png");
//  background: image-url("alum-light-background.png");
}

body.store {
//  background-color: #B2B2B2;
}

#flash-messages {
  padding: 10px 0px;
}

/* Fonts */
h1, h2, h3, h4, h5, p {
}

h1 {
  color: #2BA6CB;
  border-bottom: 1px dashed #BDBDBD;
}
